<div class="card">

  <div class="card-header">
    <h2>Products</h2>
    <button routerLink="/admin/products/add" class="btn-primary">
      + Add Product
    </button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let p of products">
        <td>{{ p.name }}</td>
        <td>₹ {{ p.price }}</td>
        <td>{{ p.stock }}</td>
        <td>
          <button
            class="btn-secondary"
            [routerLink]="['/admin/products/edit', p.id]"
          >
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>